:root {
    --text-color: #2c8cdb;
    --bg-color: #171a21;
    --accent: #fafaff;
  }
  
  html {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    max-width: 1900px;
    color: var(--text-color);
    position: relative;
    margin: 0;
    background-color: var(--bg-color);
  }
  .wrapper {
    width: 80%;
    padding: 20px;
    margin: 0 auto;
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  ul.navbar {
    display: flex;
    list-style-type: none;
    gap: 30px;
    width: max-content;
  }
  
  ul li a {
    text-decoration: none;
    color: var(--text-color);
  }
  
  #logo {
    background-image: url("../images/AET\ Logo.jpg");
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .menu_link::after {
    content: "";
    width: 0;
    background-color: var(--text-color);
    display: block;
    height: 3px;
    transition: width 0.3s ease;
  }
  .menu_link:hover::after {
    width: 100%;
  }
  /********** Popular Courses CSS Starts **********/  
.bg-lightgrey {
  background-color:#f7f7f7;
}
.course-list {
  text-align: center;
  margin-bottom: 20px;
  padding: 20px 0px;
  width: 90%;
  float: left;
}
.course-list i {
  font-size:20px;
}
.popular-course h2 {
  color: #064727;
  font-size: 28px;
}
.popular-course p {
  font-size: 14px;
  margin-top: 10px;
  line-height: 25px;
  font-weight: 400;
}
.popular-course a {
  text-decoration: none;
  color: #064727;
  float: left;
  margin-top: 20px;
}
.bg-yellow {
  background:#ffc252 
}
.bg-blue {
  background: #add8e6;
}
.bg-green {
  background: #90ee90;
}
.bg-grey {
  background: #d3d3d3;
}
/********** Popular Courses CSS Ends **********/