:root {
    --text-color: #2c8cdb;
    --bg-color: #171a21;
    --accent: #fafaff;
  }
  
  html {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    max-width: 1900px;
    color: var(--text-color);
    position: relative;
    margin: 0;
    background-color: var(--bg-color);
  }
  .wrapper {
    width: 80%;
    padding: 20px;
    margin: 0 auto;
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  ul.navbar {
    display: flex;
    list-style-type: none;
    gap: 30px;
    width: max-content;
  }
  
  ul li a {
    text-decoration: none;
    color: var(--text-color);
  }
  
  #logo {
    background-image: url("../images/AET\ Logo.jpg");
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .menu_link::after {
    content: "";
    width: 0;
    background-color: var(--text-color);
    display: block;
    height: 3px;
    transition: width 0.3s ease;
  }
  .menu_link:hover::after {
    width: 100%;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    width: 48%;
}
form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
input, textarea {
  outline: none;
  padding: 10px;
  font-size: 1rem;
  border-radius: 15px;
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  background-color: var(--main-color);
  border: 2px solid var(--text-color);
}
button {
  box-shadow: 0 0 5px var(--text-color), 0 0 25px var(--text-color);
  width: 150px;
  height: 45px;
  background-color: var(--text-color);
  border-radius: 15px;
  margin-top: 20px;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  box-shadow: 0 0 5px var(--text-color), 0 0 25px var(--text-color),
    0 0 50px var(--text-color), 0 0 100px var(--text-color),
    0 0 200px var(--text-color);
}
section{
  display: flex;
}
div#socials {
  margin: 20px;
  padding: 20px;
}



footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #1f2937;
  color: #fff;
  font-family: "Roboto", arial;
}

@media all and (max-width: 500px){
  .description{
    width: auto;
  }
  section{
    flex-direction: column;
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px;
  }
}