:root {
  --text-color: #33a1fd;
  --bg-color: #171a21;
  --accent: #fafaff;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1900px;
  color: var(--text-color);
  background-color: var(--bg-color);
  position: relative;
  margin: 0;
}

button {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan;
  width: 150px;
  height: 45px;
  background-color: cyan;
  border-radius: 15px;
  border-color: aqua;
  margin-top: 20px;
}
button:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}

.wrapper {
  width: 100%;
}
nav {
  width: 100%;
}
ul.navbar {
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content: space-between;
}
ul li a {
  text-decoration: none;
  color: var(--text-color);
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.hero_section {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
}
.heroPicture {
  width: 500px;
  height: 500px;
  margin: 20px;
  background-size: cover;
  background-position: center;
  background-image: url("images/learner.gif");
}

.hero_main_text {
  font-size: 48px;
  font-weight: bolder;
}

.hero_secondary_text {
  font-size: 18px;
  margin-top: 10px;
}
.hero_text {
  width: 50%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.subject_choice_and_school_logo {
  display: flex;
  justify-content: center;
}
.middle_section_header {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1159px) {
  .hero_text {
    width: 100%;
  }

  .heroPicture {
  }
}
