body {
  background-color: #f2f8fc;
  color: blue;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 80px;
}
ul li a {
  text-decoration: none;
  color: blue;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.hero_section {
  display: flex;
}
.heroPicture {
  width: 50%;
  height: 200px;
  background-color: grey;
  margin: 20px;
}
.enroll_btn {
  background-color: #3382f6;
  color: #f9faf8;
  border-radius: 15px;
  height: 36px;
  width: 15%;
}
.hero_main_text {
  font-size: 48px;
  font-weight: bolder;
}
.hero_secondary_text {
  font-size: 18px;
}
